.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff; /* Ajout de la couleur de fond blanche */
}

.error-text {
  color: red;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 100px; /* Ajout de la marge à droite */
  margin-left: 100px;
}

button:hover {
  background-color: #0056b3;
}

.reset-button {
  margin-left: 10px;
  background-color: #dc3545;
}

.reset-button:hover {
  background-color: #b02a37;
}
